@import "colors";

.footer {
	display: grid;
	grid-area: footer;
	align-self: stretch;
	justify-self: stretch;
	background-color: $gray-4;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}

#twitter, #linkedin, #github {
	width: 2rem;
	height: 2rem;
	margin: 1rem;
}
