/*
 https://coolors.co/012a36-29274c-7e52a0-d295bf-e6bccd
 */

body {
	display: grid;
	grid-template-columns: minmax(5rem, 1fr) 5fr minmax(5rem, 1fr);
	grid-template-rows: 8em 1fr 5em;
	min-height: 100vh;
	grid-template-areas:
		"header header header"
		"left main right"
		"footer footer footer";
	justify-items: stretch;
	align-content: stretch;
	margin: 0;
	font-family: "Ubuntu", "helvetica", "arial", "sans-serif";
	background-color: #DDDDDD;
}

/* HEADER START*/
.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-areas: "logo links login";
	background-color: #1F1721;
}

.links {
	display: grid;
	grid-area: links;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	align-items: end;
	justify-self: center;
}

.links div {
	display: flex;
}

.links a {
	font-size: 1.5rem;
}
.links a, .login a, .login span {
	color: #DDDDDD;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
	padding: 1rem;
	transition: all 0.1s ease-in;
}


.links a:hover, .login a:hover {
	color: #D664D1;

}

.login {
	grid-area: login;
	align-self: end;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.login span {
	padding: 0 1rem 0 0;
}

.login a, .login span {
	font-size: 1.2rem;
}

.spaceLinks {
	justify-self: end;
}

/* HEADER END*/

.content {
	grid-area: main;
	padding: 1rem;
}

/* FOOTER START */
.footer {
	display: grid;
	grid-area: footer;
	align-self: stretch;
	justify-self: stretch;
	background-color: #675C63;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
}

#twitter, #linkedin, #github {
	width: 2rem;
	height: 2rem;
	margin: 1rem;
}
/* FOOTER END*/

.sectorwrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"top top"
		"content content";
	justify-items: center;
}

.hex {
	font-size: .6rem;
}

.populated {
	cursor: pointer;
}

.populated > polygon{
	fill: #5D69BE;
}
.hex:not(.populated) polygon {
	fill: #9A9DC9;
	transition: all 0.1s ease-in;
}

.hex:hover > polygon {
	fill: #50B5EF;
}

text {
	color: #1F1721;
	font-weight: bold;
}

text:first-of-type {
	transform: translate(0, -1.7em);
}

text:last-of-type {
	transform: translate(0, 1.6em);
}

.sectorMap {
	justify-self: end;
}

.systemTable, .factionTable {
	justify-self: stretch;
}


.systemTable th:nth-child(2),
.systemTable td:nth-child(2),
.systemTable th:nth-child(3),
.systemTable td:nth-child(3) {
	text-align: start;
}

tr:not(.nostyle):nth-child(odd) {
	background-color: #B1ABAC;
}


.selected {
	background: lightblue!important;
}

.subtitle {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: "type homeworld";
	grid-gap: 1rem;
	justify-content: start;
}

.factionWrapper {
	display: grid;
	grid-template-columns: auto 1px 1fr;
	grid-template-areas:
		"info bar notes";
	grid-gap: 1rem;
	margin-top: 3rem;
}

.factionInfo {
	grid-area: info;
	display: grid;
	grid-template-columns: repeat(2, minmax(6rem, auto));
	grid-template-rows: repeat(4, 3rem) auto;
	grid-template-areas:
		"pcReputation health"
		"force exp"
		"cunning income"
		"wealth faccreds"
		"tags goal";
	grid-gap: 1rem;
	justify-items: start;
}

.bar {
	grid-area: bar;
	background-color: black;
}

.type {
	grid-area: type;
}

.homeworld {
	grid-area: homeworld;
}

.pcReputation {
	grid-area: pcReputation;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	grid-gap: 1rem;
}

.force, .cunning, .wealth {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	align-items: center;
}

.force span, .cunning span, .wealth span {
	justify-self: end;
}

.health {
	grid-area: health;
}

.income {
	grid-area: income;
}

.faccreds {
	grid-area: faccreds;
}

.exp {
	grid-area: exp;
}

.tags {
	grid-area: tags;
}

.goal {
	grid-area: goal;
	text-align: right;
}

.notes {
	grid-area: notes;
	display: grid;
	grid-template-rows: 3rem auto;
}

.notes h3{
	margin: 0;
	align-self: center;
}

.notes textarea {
	min-width: 10rem;
	max-width: 40rem;
	min-height: 10rem;
	max-height: 40rem;
}

.health, .exp, .income, .faccreds, .goal {
	justify-self: end;
}

.health, .exp, .income, .faccreds {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	grid-gap: 1rem;
}

.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: .5rem;
	border-radius: 0.5rem;

	position: absolute;
	z-index: 1;
	width: 20rem;
	top: 150%;
	left: 50%;
	margin-left: -10rem; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	margin-left: -1rem;
	border-width: 0.5rem;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.error {
	color: red;
}
