{% extends 'base.html'%}
{% load template_tags %}
{% load static %}

{% block title %}Alien Races | Sector Asgard Sigma{% endblock %}

{% block js %}
<script src="{% static 'swn/js/sorttable.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Alien Races</h1>
{% if alien_races_list %}
<table class="sortable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Body Type</th>
			{% if user.is_authenticated and user|has_group:"GM" %}
			<th>Lenses</th>
			<th>Structure</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for alien in alien_races_list %}
		<tr>
			<td><a href="">{{alien.name}}</a></td>
			<td>{{alien.body_type.name}}</td>
			{% if user.is_authenticated and user|has_group:"GM" %}
			<td>{{alien.lenses1}}, {{alien.lenses2}}</td>
			<td>{{alien.structure1}}{% if alien.structure2 %}, {{alien.structure2}}{% endif %}</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<span>There is no spoon.</span>
{% endif %}
{% endblock %}
