{% extends 'base.html'%}
{% load static %}

{% block title %}Political Groups | Sector Asgard Sigma{% endblock %}

{% block js %}
<script src="{% static 'swn/js/sorttable.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Political Groups</h1>
{% if political_groups_list %}
<table class="sortable">
	<thead>
		<tr>
			<th>Organization</th>
			<th>Leadership</th>
      <th>Policy</th>
      <th>Outsiders</th>
      <th>Issues</th>
		</tr>
	</thead>
	<tbody>
		{% for political_group in political_groups_list %}
		<tr>
			<td><a href="">{{political_group.name}}</a></td>
			<td>{{political_group.leadership}}</td>
      <td>{{political_group.policy}}</td>
      <td>{{political_group.outsiders}}</td>
      <td>{{political_group.key_issue1}}, {{political_group.key_issue2}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<span>There is no spoon.</span>
{% endif %}
{% endblock %}
